*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #7b0831;
    background-image: linear-gradient(rgb(255, 248, 208), #ffe655);
}

h1 {
    font-size: 50px;
}

.intro {
    text-align: center;
    padding: 20px;
}

.night {
    color: #f0f8ff;
    background-image: linear-gradient(rgb(18, 70, 138), rgb(22, 6, 58));
}

.game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.sun {
    text-align: center;
    padding: 5px;
    cursor: pointer;
}

.sun img {
    height: 50px;
}

.acard {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform .5s;
}

.acard:active {
    transform: scale(.97);
    transition: transform .2s;
}

.acard.flip {
    transform: rotateY(180deg);
}

.frontface, .backface {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;
}

.backface {
    background-color: rgb(255, 165, 187);
}

.frontface {
 transform: rotateY(180deg);
    background-color: beige;
}

@media only screen and (max-width: 768px) {
    .game {
        width: 500px;
        height: 500px;
    }
  }
  