*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(192, 5, 99);
    background-image: linear-gradient(#fffae8, #f6df8d, #f0bf45);
}

h1 {
    font-size: 50px;
}

.texty {
    text-align: center;
    padding: 20px;
}

.night {
    color: #f0f8ff;
    background-image: linear-gradient(#96aadb, #d1c1ec, #eecfe2);
}

button {
    color: aliceblue;
    background-color: rgb(192, 5, 99);
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
}

.game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.sun {
    text-align: center;
    padding: 5px;
    cursor: pointer;
}

.sun img {
    height: 50px;
}

.acard {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform .5s;
}

.acard:active {
    transform: scale(.97);
    transition: transform .2s;
}

.acard.flip {
    transform: rotateY(180deg);
}

.frontface, .backface {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;
}

.backface {
    background-color: rgb(248, 166, 211);
}

.backnight {
    background-color: rgb(252, 231, 175);
}

.frontface {
 transform: rotateY(180deg);
    background-color: beige;
}

@media only screen and (max-width: 768px) {
    .game {
        width: 500px;
        height: 500px;
    }
  }
  