*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    background-image: linear-gradient(rgb(255, 192, 195), rgb(255, 105, 113));
}

.game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.switch {
    padding: 20px;
    font-size: 100px;
    cursor: pointer;
}

.acard {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.acard:active {
    transform: scale(.97);
    transition: transform .2s;
}

.acard.flip {
    transform: rotateY(180deg);
}

.frontface, .backface {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;
}

.backface {
    background-color: rgb(240, 240, 136);
}

.frontface {
 transform: rotateY(180deg);
    background-color: beige;
}

@media only screen and (max-width: 768px) {
    .switch {
      font-size: 50px;
    }
  }
  